---
import Header from "../components/Header.jsx"
const { title = '' } = Astro.props;
---

<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> {title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.ico">
  <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
    <div class="w-full h-full dark:bg-lightDark bg-white">
        <Header client:load />
        <!-- slot: your page content will be injected here. -->
        <slot />
    </div>
</body>
</html>